<div class="container p-4">
    <div class="row">
        {{#each articulos}}
            <div class="col-md-12">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{{id}}">
                            <h4>
                                {{id}} {{nombre}}
                            </h4>                        
                        </a>
                        <p class="m-2">{{grupo}} </p>
                        <a href="/articulos/eliminar/{{id}}" class="btn btn-danger">Eliminar</a>
                        <a href="/articulos/editar/{{id}}" class="btn btn-secondary">Editar</a>                                                
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay artículos cargados.</p>
                    <a href="/articulos/add">Crear artículo</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>


